.BookList {
  & > .BookList__Header {
    display: flex;
    justify-content: space-between;
    
    & > .Title {
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      color: #464646;
    }
  }
}