.Empty {
  background-color: white;
  position: absolute;
  width: 300px;
  max-height: 180px;
  border-radius: 4px;
  padding: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e2e2e2;

  & {
    img {
      max-height: 150px;
      height: 100px;
      object-fit: scale-down;
      margin-bottom: 16px;
    }
  }
}