.Search__Container {
  padding: 30px;
  background: #713bdb;
  display: flex;
  border-radius: 8px;

  & {
    .Highlight {
      background: #604dc7;
      color: white;
    }

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      color: white;
      margin-bottom: 20px;
    }

    .Search__Input {
      background: white;
      border-radius: 12px;
      padding: 10px;
      width: 100%;
      margin-right: 16px;

      & > input {
        border-radius: 12px;
        color: #383838;
      }
    }

    .Image__Wrapper {
      justify-content: center;
      display: flex;

      & img {
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .Search__Container .Image__Wrapper {
    display: none !important;
  }
}