.Btn__AddBook {
  background: $primary !important;
  border-radius: 24px !important;

  & > .MuiButton-label {
    padding: 6px;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
  }
}