* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Roboto', sans-serif !important;
}

// Colors
$primary: #713BDB;
$secondary: #fff;

.Base__Container {
  padding: 24px;
}

// Buttons
.BtnPrimary {
  background: $primary !important;

  &.secondary {
    background: $secondary !important;
  }

  &.Mui-disabled {
    background: #bfaae8 !important;
  }

  & > .MuiButton-label {
    padding: 6px;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
  }

  &.secondary > .MuiButton-label {
    color: $primary;
  }
}

.BtnSecondary {
  background: $secondary !important;

  &.Mui-disabled {
    background: #bfaae8 !important;
  }

  & > .MuiButton-label {
    padding: 6px;
    color: $primary;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
  }

  & > .MuiButton-label {
    color: $primary;
  }
}

// Titles
.Section__Title {
  font-weight: 600 !important;
  font-size: 24px !important;
  color: #5B5B5B !important;
}

@media (max-width: 500px) {
  .Title {
    font-size: 16px !important;
  }

  .Label__Text,
  .Label__Value {
    font-size: 10px !important;
  }

  .UserInfo,
  .CommentDate,
  .CommentValue {
    font-size: 10px !important;
  }

  .Search__Container h3 {
    font-size: 24px !important;
  }
}

// Shadows 
.ContainerShadow {
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.07);
}

// Position
.Relative {
  position: relative;
}